@font-face {
	font-family: OldstyHPLHS;
	src: url("../fonts/OldstyHPLHS.otf") format("opentype");
}
@font-face {
	font-family: OldstyHPLHS;
	font-weight: bold;
	src: url("../fonts/OldstyHPLHS.otf") format("opentype");
}

#associationwrapper {
  position: absolute;
  top: 9px;
  right: 0;
}

body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
  background-color: black !important;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  height: 10px;
}
.navbar .navbar-collapse {
  text-align: center;
}

ul.nav {
	font-family: OldstyHPLHS;
	font-size: 35px;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

ul.nav li {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;

}
.jumbotron {
	background-image: url('../images/headerlogo.jpg');
  background-color: black;
	background-repeat: no-repeat;
	background-size: 100%;
	padding-bottom: 0;
	margin-bottom: 0;
	color: white;
	font-family: OldstyHPLHS;
	background-position: 150% 50%;
	height: 450px;

}
.jumbotron .container h1 {
	font-family: OldstyHPLHS;
	text-align: center;
	color: white;
	padding-top: 100px;
	padding-bottom: 60px;

}

#title {
	font-size: 65px;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;

}
#tagline {
	font-size: 30px;
	letter-spacing: 7px;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

.jumbotron .container h2 {
	font-family: OldstyHPLHS;
	text-align: center;
	font-size: 52px;
}
.container {
	padding-bottom: 50px;
	color: white;
}

h1 {
	font-family: OldstyHPLHS;
	margin-bottom: -10px;
}

h2 {
  margin-bottom: -12px;
}

.header-line {
	border-color: #468260;
	display: inline-block;
}

.big.header-line {
  width: 400px;
  margin-bottom: 0px;
}

.small.header-line {
  width: 200px;
  margin-bottom: 11px;
}

section {
  padding-top: 20px;
  font-family: OldstyHPLHS;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

section:nth-child(odd) {
  background-color: #141613; 
}

section:nth-child(even) {
  background-color: #0f100e; 
}

#aboutus p, #episodes p {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 26px;
}

.episode-summaries {
  border-top: 1px solid #333333;
}

.episode-summary {
  border-bottom: 1px solid #333333;
}

.episode-summary .title {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 26px !important;  
}

.episode-summary .description {
  padding-bottom: 10px;
  font-size: 20px;  
}

.episode-summary .note {
  padding-bottom: 10px;
  font-size: 15px;  
}

p {
	margin: 0;
}

li a:hover {
	text-shadow: 0px 0px 12px #009900;
}

#pullright {
  float: right;
  width: 100px;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 10.5px;
  color: #777;
  margin-top: 3px;
}

a {
  color: #468260;
}
a:hover {
	color: #468260;
}
#hideoutlogo {
  height: 30px;
  width: 30px;
  float: right;
  padding: 0;
  margin-right: 9px;
}

.clearfix {
  overflow: auto;
}

footer {
	background-color: #0f100e;
	text-align: center;
	height: 200px;
	font-family: OldstyHPLHS;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;

}
#footerwrapper {
	padding-top: 60px;
}

footer p {
	margin: 0;
	font-family: OldstyHPLHS;
	font-size: 20px;
}

.bio {
  padding-bottom: 13px;
  margin-left: 15px;
  border-bottom: 1px solid #333333;
}

.bio img {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.bio:after {
  content:"";
  display:table;
  clear:both;
}

.bio p {
  font-size: 1.5em;
  line-height: 1.35em;
  text-align: left;
}

/* Media Queries for responsiveness */
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Medium devices (desktops, 992px and up) */

@media (max-width: 1199px) { 
.jumbotron {
	background-image: url('../images/headerlogo.jpg');
  background-color: black;
	background-repeat: no-repeat;
	/*background-color: #141613;*/
	background-size: 100%;
	padding-bottom: 0;
	margin-bottom: 0;
	color: white;
	font-family: OldstyHPLHS;
	background-position: 150% 50%;
	margin-bottom: -125px;
	margin-top: -24px;
	padding-top: 5px;
}

#title {
	font-size: 42px;
}
.jumbotron .container h1 {
  padding-bottom: 20px;
}

#hero {
    background: url('../images/headerlogo.jpg') fill;
    background-color: black;
    min-height: 300px;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-weight: bold;
}

h1 {
  font-size: 3em;
}

p {
  margin: 0 0 15px;
}

@media (max-width: 768px) { 
  #tagline {
    font-size: 20px;
  }
  .jumbotron .container h2 {
    padding-bottom: 3px;
  }
  .navbar-nav {
    height: 170px !important; /* total hack; vertical menu was clipping to 30px */
  }
}

@media (max-width: 350px) {
  #tagline {
    display: none;
  }
}

@media (max-width: 450px) {
  .big.header-line {
    width: 200px;
  }
  .small.header-line {
    width: 150px;
  }
} 
